[run]
source = src
omit =
    tests/*
    src/__init__.py
    src/*/__init__.py

[report]
show_missing = true
fail_under = 85
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    pass
