
ANTHROPIC_API_KEY=sk-ant-...sua_chave_aqui...


POSTGRES_USER=agno_user
POSTGRES_PASSWORD=agno_password
POSTGRES_DB=agno_memory
POSTGRES_PORT=5432

LLM_MODEL_ID=claude-haiku-4-5-20251001
LLM_REQUEST_TIMEOUT=30


LEARNING_MODE=always
ENABLE_ENTITY_MEMORY=true


RECALL_MAX_TOKENS=300
RECALL_MIN_RELEVANCE_DAYS=30


MAX_MESSAGES_PER_REQUEST=100
MAX_MESSAGE_LENGTH=10000
MAX_SESSION_ID_LENGTH=255


LOG_LEVEL=INFO


ENABLE_PROFILING=false
ENABLE_METRICS=true
